body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1914px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1811 {
  position:absolute;
  left:0px;
  top:0px;
  width:1914px;
  height:931px;
  overflow:hidden;
  visibility:hidden;
}
#u1811_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1914px;
  height:931px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1811_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1932px;
  height:953px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1812 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:1932px;
  height:953px;
}
#u1813 {
  position:absolute;
  left:2px;
  top:468px;
  width:1928px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1814 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:296px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1815 {
  position:absolute;
  left:720px;
  top:295px;
  width:480px;
  height:296px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1816 {
  position:absolute;
  left:16px;
  top:140px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1817 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1818 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1819 {
  position:absolute;
  left:720px;
  top:295px;
  width:480px;
  height:54px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1820 {
  position:absolute;
  left:24px;
  top:16px;
  width:432px;
  word-wrap:break-word;
}
#u1821 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1822 {
  position:absolute;
  left:1164px;
  top:316px;
  width:12px;
  height:12px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1823 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1824 {
  position:absolute;
  left:1176px;
  top:310px;
  width:24px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u1825 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u1826 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:left;
  line-height:22px;
}
#u1827 {
  position:absolute;
  left:720px;
  top:527px;
  width:480px;
  height:64px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:left;
  line-height:22px;
}
#u1828 {
  position:absolute;
  left:16px;
  top:24px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1829 {
  position:absolute;
  left:1112px;
  top:543px;
  width:65px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1830 {
  position:absolute;
  left:16px;
  top:6px;
  width:33px;
  white-space:nowrap;
}
#u1831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u1831 {
  position:absolute;
  left:1042px;
  top:543px;
  width:65px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u1832 {
  position:absolute;
  left:16px;
  top:6px;
  width:33px;
  white-space:nowrap;
}
#u1833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u1833 {
  position:absolute;
  left:1119px;
  top:527px;
  width:16px;
  height:16px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u1834 {
  position:absolute;
  left:2px;
  top:3px;
  width:12px;
  word-wrap:break-word;
}
#u1835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u1835 {
  position:absolute;
  left:1119px;
  top:575px;
  width:16px;
  height:16px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u1836 {
  position:absolute;
  left:2px;
  top:3px;
  width:12px;
  word-wrap:break-word;
}
#u1837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u1837 {
  position:absolute;
  left:745px;
  top:449px;
  width:294px;
  height:32px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u1838 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u1839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u1839 {
  position:absolute;
  left:745px;
  top:387px;
  width:71px;
  height:30px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u1840 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u1841 {
  position:absolute;
  left:1152px;
  top:306px;
  width:36px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1842 {
  position:absolute;
  left:1042px;
  top:543px;
  width:65px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1843 {
  position:absolute;
  left:1112px;
  top:543px;
  width:65px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1844 {
  position:absolute;
  left:745px;
  top:426px;
  width:220px;
  height:35px;
}
#u1844_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1844_input:disabled {
  color:grayText;
}
#u1845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1914px;
  height:931px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1845 {
  position:absolute;
  left:0px;
  top:0px;
  width:1914px;
  height:931px;
}
#u1846 {
  position:absolute;
  left:2px;
  top:458px;
  width:1910px;
  word-wrap:break-word;
}
#u1847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1658px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.117647058823529);
}
#u1847 {
  position:absolute;
  left:256px;
  top:0px;
  width:1658px;
  height:64px;
}
#u1848 {
  position:absolute;
  left:2px;
  top:24px;
  width:1654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:931px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1849 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:931px;
}
#u1850 {
  position:absolute;
  left:2px;
  top:458px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:65px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1851 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:65px;
}
#u1852 {
  position:absolute;
  left:2px;
  top:24px;
  width:252px;
  word-wrap:break-word;
}
#u1853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u1853 {
  position:absolute;
  left:284px;
  top:25px;
  width:20px;
  height:15px;
}
#u1854 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1855 {
  position:absolute;
  left:1865px;
  top:21px;
  width:19px;
  height:22px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1856 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u1857 {
  position:absolute;
  left:1793px;
  top:21px;
  width:16px;
  height:21px;
}
#u1858 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u1859 {
  position:absolute;
  left:1751px;
  top:22px;
  width:18px;
  height:19px;
}
#u1860 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1861 {
  position:absolute;
  left:1831px;
  top:20px;
  width:24px;
  height:24px;
}
#u1862 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:33px;
}
#u1863 {
  position:absolute;
  left:14px;
  top:16px;
  width:45px;
  height:33px;
}
#u1864 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F7F7F7;
  text-align:left;
}
#u1865 {
  position:absolute;
  left:37px;
  top:2px;
  width:233px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F7F7F7;
  text-align:left;
}
#u1866 {
  position:absolute;
  left:28px;
  top:22px;
  width:177px;
  white-space:nowrap;
}
#u1867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u1867 {
  position:absolute;
  left:0px;
  top:63px;
  width:256px;
  height:61px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u1868 {
  position:absolute;
  left:50px;
  top:24px;
  width:204px;
  word-wrap:break-word;
}
#u1869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u1869 {
  position:absolute;
  left:24px;
  top:91px;
  width:14px;
  height:13px;
}
#u1870 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1871 {
  position:absolute;
  left:226px;
  top:91px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1872 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1874 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1614px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:24px;
}
#u1875 {
  position:absolute;
  left:284px;
  top:152px;
  width:1614px;
  height:55px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:24px;
}
#u1876 {
  position:absolute;
  left:32px;
  top:16px;
  width:1580px;
  word-wrap:break-word;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1615px;
  height:698px;
}
#u1877 {
  position:absolute;
  left:284px;
  top:207px;
  width:1614px;
  height:697px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1878 {
  position:absolute;
  left:32px;
  top:24px;
  width:1550px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:2px;
}
#u1880 {
  position:absolute;
  left:284px;
  top:130px;
  width:1621px;
  height:1px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u1881 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1882 {
  position:absolute;
  left:284px;
  top:91px;
  width:119px;
  height:40px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1883 {
  position:absolute;
  left:16px;
  top:9px;
  width:87px;
  white-space:nowrap;
}
#u1884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:22px;
}
#u1884 {
  position:absolute;
  left:409px;
  top:91px;
  width:145px;
  height:40px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:22px;
}
#u1885 {
  position:absolute;
  left:16px;
  top:9px;
  width:113px;
  white-space:nowrap;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1567px;
  height:54px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1886 {
  position:absolute;
  left:308px;
  top:219px;
  width:1567px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1887 {
  position:absolute;
  left:16px;
  top:19px;
  width:1535px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1567px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1888 {
  position:absolute;
  left:308px;
  top:431px;
  width:1567px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1889 {
  position:absolute;
  left:16px;
  top:19px;
  width:1535px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1567px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1890 {
  position:absolute;
  left:308px;
  top:484px;
  width:1567px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1891 {
  position:absolute;
  left:16px;
  top:19px;
  width:1535px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1567px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1892 {
  position:absolute;
  left:308px;
  top:272px;
  width:1567px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1893 {
  position:absolute;
  left:16px;
  top:19px;
  width:1535px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1567px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1894 {
  position:absolute;
  left:308px;
  top:325px;
  width:1567px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1895 {
  position:absolute;
  left:16px;
  top:19px;
  width:1535px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1567px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1896 {
  position:absolute;
  left:308px;
  top:378px;
  width:1567px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1897 {
  position:absolute;
  left:16px;
  top:19px;
  width:1535px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:53px;
}
#u1899 {
  position:absolute;
  left:693px;
  top:218px;
  width:89px;
  height:54px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:53px;
}
#u1900 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lucida Grande Regular', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u1901 {
  position:absolute;
  left:710px;
  top:288px;
  width:56px;
  height:22px;
  font-family:'Lucida Grande Regular', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u1902 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lucida Grande Regular', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u1903 {
  position:absolute;
  left:710px;
  top:342px;
  width:56px;
  height:22px;
  font-family:'Lucida Grande Regular', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u1904 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lucida Grande Regular', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u1905 {
  position:absolute;
  left:710px;
  top:394px;
  width:56px;
  height:22px;
  font-family:'Lucida Grande Regular', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u1906 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lucida Grande Regular', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u1907 {
  position:absolute;
  left:710px;
  top:447px;
  width:56px;
  height:22px;
  font-family:'Lucida Grande Regular', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u1908 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lucida Grande Regular', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u1909 {
  position:absolute;
  left:710px;
  top:500px;
  width:56px;
  height:22px;
  font-family:'Lucida Grande Regular', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u1910 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1911 {
  position:absolute;
  left:308px;
  top:326px;
  width:48px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1912 {
  position:absolute;
  left:16px;
  top:19px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1913 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u1914 {
  position:absolute;
  left:309px;
  top:218px;
  width:89px;
  height:54px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u1915 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF UI Text Regular', 'SF UI Text';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u1916 {
  position:absolute;
  left:308px;
  top:272px;
  width:131px;
  height:265px;
  font-family:'SF UI Text Regular', 'SF UI Text';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u1917 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u1919 {
  position:absolute;
  left:1746px;
  top:219px;
  width:61px;
  height:54px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u1920 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:53px;
}
#u1921 {
  position:absolute;
  left:1752px;
  top:273px;
  width:61px;
  height:265px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:53px;
}
#u1922 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u1923 {
  position:absolute;
  left:871px;
  top:273px;
  width:33px;
  height:265px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u1924 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  white-space:nowrap;
}
#u1925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:53px;
}
#u1926 {
  position:absolute;
  left:1037px;
  top:218px;
  width:61px;
  height:54px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:53px;
}
#u1927 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u1928 {
  position:absolute;
  left:1044px;
  top:272px;
  width:61px;
  height:265px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u1929 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u1931 {
  position:absolute;
  left:1359px;
  top:219px;
  width:89px;
  height:54px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u1932 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u1933 {
  position:absolute;
  left:1359px;
  top:272px;
  width:133px;
  height:265px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u1934 {
  position:absolute;
  left:16px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u1935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u1935 {
  position:absolute;
  left:316px;
  top:871px;
  width:166px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u1936 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u1937 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u1938 {
  position:absolute;
  left:1236px;
  top:866px;
  width:32px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u1939 {
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  word-wrap:break-word;
}
#u1940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1940 {
  position:absolute;
  left:1276px;
  top:866px;
  width:32px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1941 {
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  word-wrap:break-word;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1942 {
  position:absolute;
  left:1316px;
  top:866px;
  width:32px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1943 {
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  word-wrap:break-word;
}
#u1944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1944 {
  position:absolute;
  left:1356px;
  top:866px;
  width:32px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1945 {
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  word-wrap:break-word;
}
#u1946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1946 {
  position:absolute;
  left:1396px;
  top:866px;
  width:32px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1947 {
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  word-wrap:break-word;
}
#u1948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1948 {
  position:absolute;
  left:1556px;
  top:866px;
  width:32px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1949 {
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  word-wrap:break-word;
}
#u1950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1950 {
  position:absolute;
  left:1747px;
  top:871px;
  width:29px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1952 {
  position:absolute;
  left:1784px;
  top:866px;
  width:48px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1953 {
  position:absolute;
  left:16px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u1954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1954 {
  position:absolute;
  left:1840px;
  top:871px;
  width:15px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1956 {
  position:absolute;
  left:1516px;
  top:866px;
  width:32px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1957 {
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  word-wrap:break-word;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1958 {
  position:absolute;
  left:1476px;
  top:866px;
  width:32px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1959 {
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  word-wrap:break-word;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1960 {
  position:absolute;
  left:1436px;
  top:866px;
  width:32px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1961 {
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  word-wrap:break-word;
}
#u1962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1963 {
  position:absolute;
  left:1644px;
  top:866px;
  width:89px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1964 {
  position:absolute;
  left:8px;
  top:5px;
  width:51px;
  white-space:nowrap;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1965 {
  position:absolute;
  left:1709px;
  top:875px;
  width:14px;
  height:14px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.400000005960464;
}
#u1966 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1968 {
  position:absolute;
  left:1196px;
  top:866px;
  width:32px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u1969 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1970 {
  position:absolute;
  left:1205px;
  top:875px;
  width:14px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.400000005960464;
}
#u1971 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1973 {
  position:absolute;
  left:1596px;
  top:866px;
  width:32px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u1974 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1975 {
  position:absolute;
  left:1605px;
  top:875px;
  width:14px;
  height:14px;
  opacity:0.400000005960464;
}
#u1976 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977 {
  position:absolute;
  left:1751px;
  top:283px;
  width:63px;
  height:248px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1978 {
  position:absolute;
  left:284px;
  top:91px;
  width:125px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u1979 {
  position:absolute;
  left:0px;
  top:164px;
  width:256px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u1980 {
  position:absolute;
  left:50px;
  top:9px;
  width:204px;
  word-wrap:break-word;
}
#u1981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1981 {
  position:absolute;
  left:0px;
  top:124px;
  width:256px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1982 {
  position:absolute;
  left:50px;
  top:9px;
  width:204px;
  word-wrap:break-word;
}
#u1983 {
  position:absolute;
  left:0px;
  top:124px;
  width:256px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1984 {
  position:absolute;
  left:0px;
  top:166px;
  width:256px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
